@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  font-family: Raleway;
  font-size: 1.2rem;
  line-height: 1.8rem;
  background: #eee;
}

blockquote {
  padding: 10px;
  background: #F99797;
}

.content {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 30px;
  background: #fff;
  border: 1px solid #ddd;
}

code {
  background: #f4f4f4;
}

.center {
  text-align: center;
}

button {
  padding: 10px 20px;
  background: #F76C6C;
  color: #fff;
  border: transparent;
  border-radius: 4px;
  font-size: 1.5rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;

}
.modal-inner {
  margin-top: 30px;
}
.texture-sample {
  border: 1px solid #eee;
  height: 160px;
}